* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

main {
  background: #bada55;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
}

.control {
  margin-right: 20px;
}

.control label {
  display: block;
  color: #000;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.control input {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  width: 50px;
}

.count_button {
  width: 200px;
  height: 200px;
  background: yellow;
  border-radius: 10px;
  border: 2px solid green;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.count_button:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.count_button .current_count {
  font-size: 48px;
  font-weight: bold;
  color: #000;
}
